p {
  display: block;
  text-align: center;
  margin: 32px auto;
  max-width: 66vw;
}

button {
  background: #f57622;
  font-size: 20px;
  border-radius: 4px;
  border: solid 1px #f20224;
  display: block;
  margin: auto;
  text-align: center;
  min-width: 200px;
}
button a {
  color: #f7ef18;
  text-shadow: 2px 2px 0 #3c02f3;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}